services:
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    image: mern-app-server:node24-bullseye-slim
    volumes:
      - ./server:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - "5000:5000"
    environment:
      - NODE_ENV=development
      - MONGO_URI=mongodb://mongo:27017/mydatabase
      - JWT_SECRET=${JWT_SECRET}
    depends_on:
      - mongo
    restart: unless-stopped
    networks:
      - mern-net

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    image: mern-app-client:node24-bullseye-slim
    volumes:
      - ./client:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    environment:
      - REACT_APP_API_URL=http://server:5000
      - HOST=0.0.0.0
    restart: unless-stopped
    networks:
      - mern-net

  mongo:
    image: mongo:8.0
    volumes:
      - mongo-data:/data/db
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "mongo", "--eval", "db.adminCommand('ping').ok"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s
    networks:
      - mern-net

volumes:
  mongo-data:

networks:
  mern-net:
    driver: bridge